.todo {
    margin-bottom: 1re;
    &-complited span {
        text-decoration: line-through;
    }
    &__label{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

