body {
    background-color: hsla(0, 6%, 82%, 0.427);
    padding-top: 100px;
}

.wrapper {

    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 15px;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap');
@import '_todoForm.scss';
@import '_todoList.scss';
@import '_actionBar.scss';